@charset "utf-8";
header,.ban_con,footer{
    width: 1200px;
    margin: 0 auto;
}
h1{
    width: 131px;
    height: 80px;
}
header{
    height: 80px;
}
header ul{
    width: 537px;
    display: flex;
    justify-content: space-between;
}
header ul li a{
    display: block;
    font-size: 18px;
    line-height: 80px;
    height: 54px;
    text-align: center;
    color: #323232;
}
header ul li a:hover{
    color: #fc7863;
    border-bottom: #fc7863 2px solid;
}













.foot{
    background: #666;
    height: 81px;
}
footer{
    height: 81px;
    font-size: 16px;
    color: #b8b8b8;
    line-height: 81px;
    text-align: center;
}