@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑";
}
h1,h2,h3,h4,h5,h6{
    font-size:16px;
    font-weight:normal;
}
ul,ol,li{
    list-style:none;
}
em,i{
    font-style:normal;
}
a,u{
    text-decoration: none;
}
b,strong{
    font-weight:normal;
}
img,fieldset{
    border:none;
}
img{
    display:block;
}
input{
    outline:none;
}
textarea{
    resize:none;
}


.float_left{
    float:left;
}
.float_right{
    float:right;
}
.border_none{
    border:none!important;
}
.bg_none{
    background:none!important;
}
.text_ellipsis{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.clear_fix:after{
    content:" ";
    clear:both;
    height:0;
    display:block;
    overflow:hidden;
    visibility: hidden;
}
.clear_fix{
    zoom: 1;
}